/* themeing section colors, fonts */
:root {
  --white-color: #ffffff;
  --black: #1e1c1b;
  --blue: #5504b0;
  --blue-light: #661db8;
  --yellow: #fbd206;
  --gray: #707070;
  --light-gray: #f2f2f2;
}

@font-face {
  font-family: buzz;
  src: url(../fonts/VinkaDuscha.ttf);
}

@font-face {
  font-family: buzzlight;
  src: url(../fonts/Fontspring-DEMO-visbycf-regular.otf);
}

@font-face {
  font-family: buzzbold;
  src: url(../fonts/Fontspring-DEMO-visbycf-bold.otf);
}

@font-face {
  font-family: buzzhindi;
  src: url(../fonts/dev.ttf);
}

/* default tags css */
html {
  scroll-behavior: smooth;
  transition: all;
}

body {
  font-family: buzz;
}

.responsive-container {
  max-width: 1800px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1 {
  color: var(--blue);
}

.hindi2 {
  font-family: buzzhindi;
  font-weight: bolder;
}

.hindi2 span {
  font-family: buzz;
  font-weight: normal;
}

.logo {
  width: 25%;
}

.btn-buzz {
  background-color: var(--white-color);
  border: 1px solid var(--gray);
  padding: 4px 20px !important;
  box-shadow: 3px 3px 0px var(--yellow);
  border-radius: 0px !important;
  font-size: 0.9rem;
  margin-top: 5%;
  font-family: buzzlight;
}

.btn-buzz:hover {
  background-color: var(--white-color) !important;
  box-shadow: 3px 3px 0px var(--blue);
  color: var(--black) !important;
  border: 1px solid var(--gray) !important;
}

/* yellow btn */
.btn-buzz-connect {
  background-color: var(--white-color);
  border: 1px solid var(--gray);
  padding: 4px 20px !important;
  box-shadow: 3px 3px 0px var(--yellow);
  border-radius: 0px !important;
  font-size: 0.9rem;
  margin-top: 5%;
  font-family: buzzlight;
}

.btn-buzz-connect:hover {
  background-color: var(--white-color) !important;
  box-shadow: 3px 3px 0px var(--blue);
  color: var(--black) !important;
  border: 1px solid var(--gray) !important;
}

/* blue btn */
.btn-buzz-connect-blue {
  background-color: var(--white-color);
  border: 1px solid var(--gray);
  padding: 4px 20px !important;
  box-shadow: 3px 3px 0px var(--blue);
  border-radius: 0px !important;
  font-size: 0.9rem;
  margin-top: 5%;
  font-family: buzzlight;
}

.btn-buzz-connect-blue:hover {
  background-color: var(--white-color) !important;
  box-shadow: 3px 3px 0px var(--yellow);
  color: var(--black) !important;
  border: 1px solid var(--gray) !important;
}

.title-tags {
  font-family: buzzlight !important;
}

.navbar {
  background: linear-gradient(#ffffff 50%, transparent);
  padding: 10px 30px;
}

.navbar-nav .nav-item .nav-link {
  font-size: 1rem;
  padding: 10px 30px;
  color: var(--black);
  text-transform: capitalize;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:focus {
  color: var(--yellow) !important;
}

.navbar-nav {
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.dropdown-menu {
  background-color: var(--blue);
  border: none;
  text-align: center;
  color: var(--white-color);
  padding: 10px 0 10px 0px;
  border-radius: 10%;
  position: relative;
}

.dropdown-menu .dropdown-item {
  color: var(--white-color);
  padding: 3.5% 0px;
}

.dropdown-menu .dropdown-item:hover {
  color: var(--yellow);
  background-color: transparent;
}

.arrow-up {
  position: absolute;
  width: 8px;
  height: 8px;
  border-left: 5px solid var(--blue);
  border-right: 5px solid var(--blue);
  border-bottom: 5px solid var(--blue);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: 45%;
  margin-top: -13px;
}

/* .margin-left-space{
  margin-left:7%;
} */

/* header home */
.home-header {
  height: 600px;
  background-image: url('../images/Path\ 1.svg'), url('../images/file0.png'), url('../images/Layer\ 32.png');
  background-size: 20rem, 6rem, 6rem;
  background-position: center, left 4% top, bottom right 35%;
  background-repeat: no-repeat;
  position: relative;
}

.project-screens {
  position: relative;
  width: 100%;
}

.project-screens img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.proj-1 {
  background-color: var(--white-color);
  /* width: 16%; */
  width: 15em;
  height: auto;
  /* width: 200px;
  height: 130px; */
  border-radius: 10px;
  box-shadow: #ccc 0px 5px 5px;
  position: absolute;
  /* margin-top: 12%; */
  margin-top: 220px;
  left: 6%;
}

.proj-2 {
  background-color: var(--white-color);
  width: 22em;
  height: auto;
  /* width: 300px;
  height: 160px; */
  border-radius: 10px;
  box-shadow: #ccc 0px 5px 5px;
  position: absolute;
  /* margin-top: 8%; */
  margin-top: 150px;
  left: 25%
}

.proj-3 {
  background-color: var(--white-color);
  width: 22em;
  height: auto;
  /* width: 300px;
  height: 160px; */
  border-radius: 10px;
  box-shadow: #ccc 0px 5px 5px;
  position: absolute;
  /* margin-top: 25%; */
  margin-top: 450px;
  left: 15%
}

.proj-4 {
  background-color: var(--white-color);
  width: 22em;
  height: auto;
  /* width: 300px;
  height: 160px; */
  border-radius: 10px;
  box-shadow: #ccc 0px 5px 5px;
  position: absolute;
  margin-top: 0px;
  right: 23%
}

.proj-5 {
  background-color: var(--white-color);
  width: 14em;
  height: auto;
  /* width: 150px;
  height: 80px; */
  border-radius: 10px;
  box-shadow: #ccc 0px 5px 5px;
  position: absolute;
  /* margin-top: 10%; */
  margin-top: 190px;
  right: 0%
}

.proj-6 {
  background-color: var(--white-color);
  width: 15em;
  height: auto;
  /* width: 200px;
  height: 120px; */
  border-radius: 10px;
  box-shadow: #ccc 0px 5px 5px;
  position: absolute;
  /* margin-top: 18%; */
  margin-top: 340px;
  right: 28%
}

.proj-7 {
  background-color: var(--white-color);
  width: 24em;
  height: auto;
  /* width: 330px;
  height: 190px; */
  border-radius: 10px;
  box-shadow: #ccc 0px 5px 5px;
  position: absolute;
  /* margin-top: 25%; */
  margin-top: 440px;
  right: 0;
}

/* featured */
.featured {
  background-color: var(--white-color);
  text-align: center;
  padding: 60px 0px;
  background-image: url('../images/file-1.png'), url('../images/speaker.png');
  background-size: 15rem, 20rem;
  background-position: left 10% top -10%, right bottom;
  background-repeat: no-repeat;
  margin-top: 8%;
}

.sliderfeature {
  width: 90%;
}

.sliderfeature img {
  margin: 0px 20px;
  width: 120px;
  filter: sepia(100%);
  transition: 0.3s;
  opacity: 0.4;
}

.sliderfeature img:hover {
  filter: none;
  opacity: 1;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.9rem 0;

  list-style-type: none;
}

.slick-dots li {
  margin: 0 0.25rem;
}

.slick-dots button {
  display: block;
  width: 0.9rem;
  height: 0.9rem;
  padding: 0;

  border: solid 1px var(--black);
  border-radius: 100%;
  background-color: transparent;

  text-indent: -9999px;
}

.slick-dots li.slick-active button {
  background-color: var(--black);
}

/* services */
.services {
  padding: 50px 0px;
  background-image: url('../images/Mask\ Group\ 1.png'), url('../images/Mask\ Group\ 2.png'), url('../images/Group\ 5456\ copy.png');
  background-size: 7rem, 7rem, 15rem;
  background-position: right -2% center, left -2% center, left -4% top;
  background-repeat: no-repeat;
}

.service-box {
  /* border: 1px solid var(--black); */
  width: 100%;
  background-image: url('../images/Path\ 22645.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  position: relative;
}

.feature-img-one {
  width: 100%;
  margin-top: 5%;
  margin-left: 15%;
}

.go-icon-one {
  width: 10%;
  position: absolute;
  right: 10%;
  bottom: 0px;
}

.service-description-one {
  margin-top: 30%;
  font-size: 0.8rem;
  font-family: buzzlight;
}

.feature-img-two {
  width: 100%;
  margin-top: 30%;
  margin-left: 10%;
}

.go-icon-two {
  width: 10%;
  position: absolute;
  right: 10%;
  bottom: 0px;
}

.service-description-two {
  margin-top: 40%;
  font-size: 0.8rem;
  font-family: buzzlight;
}

.feature-img-three {
  width: 100%;
  margin-top: 45%;
  margin-left: 0%;
}

.go-icon-three {
  width: 10%;
  position: absolute;
  right: 10%;
  bottom: 10px;
}

.service-description-three {
  margin-top: 50%;
  font-size: 0.8rem;
  font-family: buzzlight;
}

.feature-img-four {
  width: 100%;
  margin-top: 50%;
  margin-left: 15%;
}

.go-icon-four {
  width: 10%;
  position: absolute;
  right: 10%;
  bottom: 20px;
}

.service-description-four {
  margin-top: 45%;
  font-size: 0.8rem;
  font-family: buzzlight;
}

.feature-img-five {
  width: 100%;
  margin-top: 55%;
  margin-left: 15%;
}

.go-icon-five {
  width: 10%;
  position: absolute;
  right: 10%;
  bottom: 20px;
}

.service-description-five {
  margin-top: 50%;
  font-size: 0.8rem;
  font-family: buzzlight;
}

.service-box label {
  background-color: var(--blue);
  padding: 7px 15px;
  color: var(--white-color);
  font-family: buzzlight;
  position: absolute;
  right: -10px;
  font-size: 0.9rem;
}

.service-container {
  margin-bottom: 30px;
}

/* testimonials */
.testimonials {
  padding: 50px 0;
  background-image: url('../images/Layer\ 33.png'), url('../images/Layer\ 333.png'), url('../images/file-1\ copy.png');
  background-size: 6rem, 4rem, 25rem;
  background-repeat: no-repeat;
  background-position: top left 20%, bottom 5% right 40%, right -8% top;
}

.testimonials-content {
  position: relative;
  width: 50%;
  margin: 0 auto;
}

.testimonials-content p {
  position: relative;
  margin: 0 auto;
  left: 0rem;
  z-index: 100;
}

.testimonials-content .yellow-box-ui {
  background-color: var(--yellow);
  height: 15px;
  width: 130px;
  position: relative;
  top: -13px;
  left: 24rem;
  z-index: 0;
}

/* testimonial-box slider css */
.testimonialsslider {
  margin-top: 20px;
}

.test-photo {
  /* border: 1px solid var(--black); */
  border-radius: 50%;
  width: 80%;
  margin: 0 auto;
}

.testimonial-box {
  border: 1px solid var(--gray);
  padding: 20px 25px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 7px 7px 0px var(--yellow);
  transition: 0.5s;
}

.testimonial-box p {
  font-family: buzzlight !important;
  font-size: 0.9rem;
  /* margin-top: 0.5rem;
  padding-bottom: 1.7rem; */
  border-bottom: 1px solid var(--gray);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.testimonial-author {
  font-size: 0.9rem;
}

.testimonial-author label {
  font-family: buzzbold;
}

.testimonial-author span {
  font-family: buzzlight !important;
}

.testimonial-box .arrow-on-hover {
  display: none;
  font-size: 2rem;
  position: absolute;
  background-color: var(--white-color);
  color: var(--black);
  transition: 0.5s;
}

.testimonial-box .arrow-on-hover:hover {
  color: var(--blue);
}

.testimonial-box:hover .arrow-on-hover {
  display: inline;
}

/* careers */
.careers {
  padding: 50px 0 0 0;
  /* background-color: var(--yellow); */
  background-image: url('../images/Group\ 5459.svg');
  background-size: contain;
}

.careers-box {
  background-color: var(--white-color);
  border: 1px solid var(--gray);
  padding: 30px 25px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 7px 7px 0px var(--yellow);
  transition: 0.5s;
  /* background-image: url(../images/Asset\ 2.svg);
  background-position: right bottom;
  background-repeat: no-repeat; */
  position: relative;
}

.img-ui-icon-pen {
  background-image: url(../images/Asset\ 2.svg);
  background-position: right 10% bottom -60%;
  background-repeat: no-repeat;
  background-size: 20%;
}

.img-ui-icon-camera {
  background-image: url(../images/Asset\ 3.svg);
  background-position: right 10% bottom -20%;
  background-repeat: no-repeat;
  background-size: 20%;
}

.careers-box:hover {
  box-shadow: 7px 7px 0px var(--blue);
}

.career-author span {
  font-family: buzzlight !important;
}

.careers-box .img-icon {
  width: 10%;
  position: absolute;
  top: 25px;
  left: -18px;
  display: none;
}

.careers-box:hover .img-icon {
  display: block;
}

/* faqs */
.faqs {
  padding: 50px 0px;
  background-color: var(--blue);
  font-family: buzzbold;
  background-image: url("../images/Group\ 1.png");
  background-repeat: no-repeat;
  background-position: right 20% bottom;
  background-size: 300px;
}

.accordion {
  --bs-accordion-bg: var(--blue-light) !important;
  --bs-accordion-border-color: none !important;
}

.accordion-button {
  font-weight: bold;
}

.accordion-button::after {
  background-image: url(../images/plus_icon.png);
  filter: brightness(0) invert(1);
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../images/minus_icon.png);
  filter: brightness(0) invert(1);
}

.accordion-item {
  margin-bottom: 10px;
  border-radius: 7px !important;
}

.accordion-item .accordion-button {
  background-color: var(--blue-light);
  border-radius: 7px !important;
  margin-bottom: 0px;
  color: var(--white-color);
}

.accordion-item .accordion-body {
  padding-top: 0px;
  font-size: 14px;
  color: var(--white-color);
}

.faq-content {
  margin-top: 8rem;
}

/* secondary faq */
.faqs-secondary {
  margin-top: 50px;
  padding: 50px 0px;
  font-family: buzzbold;
  background-color: var(--blue);
  /* background-image: url("../images/Group\ 1.png");
  background-repeat: no-repeat;
  background-position: right 10% bottom;
  background-size: 23%; */
  position: relative;
  /* z-index: 1000; */
}

.oneside-speaker-img-pc {
  position: absolute;
  top: -35%;
  right: 0;
  width: 20rem;
}

.oneside-speaker-img-mobile {
  display: none;
}

/* strategy css */
.header-hero-section {
  height: 40%;
  background-color: var(--blue);
  /* background-image: url('../images/Mask\ Group\ 2.png'), url('../images/Asset\ 5.svg');
  background-position: right center, center;
  background-size: 6rem, cover;
  background-repeat: no-repeat; */
}

.header-hero-section .content-of-strategy {
  margin-top: 20%;
}

.header-hero-section .content-of-strategy h1 {
  font-family: buzzbold;
  color: var(--white-color);
  font-size: 3.5rem;
}

.header-hero-section .content-of-strategy p {
  font-family: buzzlight;
  font-size: 1.2rem;
}

.header-hero-section .strategy-img {
  width: 100%;
  position: relative;
  top: 20%;
}

.content-strategy p {
  font-weight: normal;
  font-family: buzzlight !important;
}

.list-content {
  list-style: square;
  padding-left: 20px;
  font-size: 1.2rem;
}

.list-content li {
  padding-left: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: buzzlight;
}

.list-columns {
  margin-bottom: 50px;
}

.strategy-section {
  background-image: url('../images/Layer\ 32copy.png');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 10rem;
}

/* slider */
.featured-secondary-slider {
  text-align: center;
  padding: 100px 0px;
  margin-top: 5%;
  background-image: url('../images/file-1\ copy.png');
  background-size: 10rem;
  background-position: left 0% top 0%;
  background-repeat: no-repeat;
}

.sliderfeature-secondary img {
  margin: 0px 20px;
  width: 120px;
  filter: sepia(100%);
  transition: 0.3s;
  opacity: 0.4;
}

.sliderfeature-secondary img:hover {
  filter: none;
  opacity: 1;
}

/* case-studeis */
.mobile-case-study {
  display: none;
}

.case-studies {
  padding: 50px 0px;
  background-color: var(--blue);
  background-image: url('../images/Mask\ Group\ 2.png'), url('../images/Mask\ Group\ 1.png');
  background-repeat: no-repeat;
  background-position: center bottom, right 20% top;
  background-size: 8rem, 8rem;
}

.case-studies .casestudies {
  margin-left: 8%;
}

.casestudies-container {
  position: relative;
  z-index: 0;
}

.side-effects {
  background: linear-gradient(90deg, var(--blue), rgba(255, 255, 255, 0));
  width: 70px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 8%;
  z-index: 1000;
}

/* our-process */
.our-process {
  padding: 50px 0px;
}

/* why-buzz */
.why-buzz {
  padding: 50px 0px;
  background-image: url('../images/Group\ 5459.svg');
  background-size: 100%;
}

.why-content {
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0));
  padding: 25px;
}

.why-content label {
  font-size: 1.5rem;
  font-family: buzzbold;
}

.why-content p {
  font-family: buzzlight;
  margin-bottom: 0px;
}

/* ind-works */
.ind-works {
  padding: 50px 0px;
}

.ind-content {
  font-family: buzzlight;
}

/* marketing css */
.header-hero-section-marketing {
  background-color: var(--yellow);
  /* background-image: url('../images/Mask\ Group\ 2.png'), url('../images/Path\ 22645.svg');
  background-position: right center, center;
  background-size: 6rem, 100%;
  background-repeat: no-repeat; */
}

.header-hero-section-marketing .content-of-marketing {
  margin-top: 10%;
}

.header-hero-section-marketing .content-of-marketing h1 {
  font-family: buzzbold;
  color: var(--blue);
  font-size: 3.5rem;
}

.header-hero-section-marketing .content-of-marketing p {
  font-family: buzzlight;
  font-size: 1.2rem;
  color: var(--black);
  font-weight: bold;
}

.header-hero-section-marketing .marketing-img {
  width: 80%;
  position: relative;
  top: 15%;
}

.content-marketing p {
  font-weight: normal;
  font-family: buzzlight !important;
}

.marketing-section {
  background-image: url('../images/Layer\ 32copy.png');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 10rem;
}

/* design css */
.header-hero-section-design {
  background-color: var(--blue);
  height: 30%;
  /*
  background-image: url('../images/Mask\ Group\ 2.png'), url('../images/Asset\ 5.svg');
  background-position: right center, center;
  background-size: 6rem, cover;
  background-repeat: no-repeat; */
  /* background-image: url('../images/Mask\ Group\ 2.png'), url('../images/Path\ 22645.svg');
  background-position: right center, right;
  background-size: 6rem, 100%;
  background-repeat: no-repeat; */
}

.header-hero-section-design .content-of-design {
  margin-top: 15%;
}

.header-hero-section-design .content-of-design h1 {
  font-family: buzzbold;
  color: var(--white-color);
  font-size: 3.5rem;
}

.header-hero-section-design .content-of-design p {
  font-family: buzzlight;
  font-size: 1.2rem;
}

.header-hero-section-design .design-img {
  position: relative;
  top: 25%;
}

.content-design p {
  font-weight: normal;
  font-family: buzzlight !important;
}

.design-section {
  background-image: url('../images/Layer\ 32copy.png');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 10rem;
}

/* tech css */
.header-hero-section-tech {
  background-color: var(--yellow);
  /* background-image: url('../images/Mask\ Group\ 2.png'), url('../images/Path\ 22645.svg');
  background-position: right center, center;
  background-size: 6rem, 100%;
  background-repeat: no-repeat; */
}

.header-hero-section-tech .content-of-tech {
  margin-top: 10%;
}

.header-hero-section-tech .content-of-tech h1 {
  font-family: buzzbold;
  color: var(--blue);
  font-size: 3.5rem;
}

.header-hero-section-tech .content-of-tech p {
  font-family: buzzlight;
  font-size: 1.2rem;
  color: var(--black);
  font-weight: bold;
}

.header-hero-section-tech .tech-img {
  width: 80%;
  position: relative;
  top: 20%;
}

.content-tech p {
  font-weight: normal;
  font-family: buzzlight !important;
}

.tech-section {
  background-image: url('../images/Layer\ 32copy.png');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 10rem;
}

/* studio css */
.header-hero-section-studio {
  /* background-image: url('../images/Mask\ Group\ 2.png'), url('../images/Path\ 22645.svg');
  background-position: right center, center;
  background-size: 6rem, 100%;
  background-repeat: no-repeat; */
  /* height: 60%; */
  background-color: var(--blue);
  /* background-image: url('../images/Mask\ Group\ 2.png'), url('../images/Asset\ 5.svg');
  background-position: right center, center;
  background-size: 6rem, cover;
  background-repeat: no-repeat; */
}

.header-hero-section-studio .content-of-studio {
  margin-top: 15%;
}

.header-hero-section-studio .content-of-studio h1 {
  font-family: buzzbold;
  font-size: 3.5rem;
  color: var(--white-color);
}

.header-hero-section-studio .content-of-studio p {
  font-family: buzzlight;
  font-size: 1.2rem;
  font-weight: bold;
}

.header-hero-section-studio .studio-img {
  width: 80%;
  position: relative;
  top: 25%;
}

.content-studio p {
  font-weight: normal;
  font-family: buzzlight !important;
}

.studio-section {
  background-image: url('../images/Layer\ 32copy.png');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 10rem;
}

/* work page css */
.header-hero-section-work {
  height: 500px;
  background-image: url('../images/OurWork/Group\ 5506.svg'), url('../images/OurWork/Group\ 5521.svg'), url('../images/OurWork/Group\ 5522.svg');
  background-position: right 15% bottom, left 15% bottom, center left 30%;
  background-size: 25rem, 7rem, 60%;
  background-repeat: no-repeat;
  background-color: var(--blue);
}

.content-work {
  color: var(--white-color);
  font-family: buzzbold;
  text-align: center;
  padding-top: 6%;
}

.center-content {
  padding-bottom: 100px;
  background-image: url('../images/file-1\ copy.png'), url('../images/file0.png');
  background-repeat: no-repeat;
  background-position: left -5% top 18%, bottom left 35%;
  background-size: 10%, 7%;
}

.content-pattern-img-steps {
  position: absolute;
  margin-top: -2%;
  margin-left: 8%;
  z-index: 1000;
}

.content-pattern-img-steps img {
  width: 50%;
}

.content-pattern-img-ribbon {
  position: absolute;
  margin-top: 1%;
  right: 0;
  z-index: 1000;
}

.content-pattern-img-ribbon img {
  width: 50%;
}

/* header-hero-section-blog */
.header-hero-section-blog {
  /* height: 400px; */
  background-image: url('../images/Asset\ 6.png');
  background-position: bottom right;
  background-size: 50%;
  background-repeat: no-repeat;
  background-color: var(--blue);
}

.content-blog {
  color: var(--white-color);
  font-family: buzzbold;
}

.center-content-blog {
  background-image: url('../images/Layer\ 32.png'), url('../images/file0.png');
  background-repeat: no-repeat;
  background-position: right top 18%, bottom 35% left;
  background-size: 5rem, 5rem;
}

.center-content-blog p {
  margin-top: 3%;
  margin-bottom: 10%;
  font-family: buzzbold;
}

.img-blog {
  text-align: end;
}

/* page-contact css */
.contact-header {
  background-color: var(--yellow);
  padding: 80px 0px;
}

.btn-contact {
  display: none;
}

.contact-header h1 {
  font-size: 3rem;
  font-family: buzzbold;
}

.pattern-contact-page {
  display: flex;
  flex-direction: column;
}

.contact-left-side-content {
  padding: 70px 0px;
  font-family: buzzlight;
}

.contact-left-side-content h3 {
  font-family: buzzbold;
}

.contact-left-side-content h5 {
  font-family: buzzbold;
}

.contact-left-side-content .side-pattern-border {
  background-color: var(--black);
  width: 1px;
  position: relative;
}

.contact-left-side-content .side-pattern-border .dot-sign-one {
  position: absolute;
  top: -5px;
  left: -8px;
}

.contact-left-side-content .side-pattern-border .dot-sign-two {
  position: absolute;
  top: 9.2rem;
  left: -8px;
}

.contact-left-side-content .side-pattern-border .dot-sign-three {
  position: absolute;
  top: 18.7rem;
  left: -8px;
}

.contact-right-side-content {
  background-color: var(--blue);
  padding: 50px;
  color: var(--white-color);
  font-family: buzzlight;
}

.contact-right-side-content h4 {
  font-family: buzzlight;
}

.contact-right-side-content .form-control {
  background-color: transparent;
  border-radius: 0px;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
  font-size: 0.8rem;
  color: var(--white-color);
  font-family: buzzlight;
}

.contact-right-side-content .form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-family: buzzlight;
}

.contact-right-side-content .dd {
  appearance: none;
  background-color: var(--blue);
}

.contact-right-side-content .radio-select {
  border: 1px solid var(--white-color);
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  background: var(--blue);
}

.contact-right-side-content .radio-select span {
  font-size: 0.8rem;
}

/* [type="radio"]{
display: none;
} */

[type="radio"]:not(:checked) .contact-right-side-content .radio-select {
  background: var(--blue);
}

[type="radio"]:checked .contact-right-side-content .radio-select {
  background: var(--yellow);
}

.prices-min-max {
  display: flex;
  justify-content: space-between;
  color: #bbb;
  font-size: 0.8rem;
}

/* section-address */
.section-address {
  background: var(--yellow);
  padding: 50px 0px;
  font-family: buzzlight;
  background-image: url('../images/Contact/Group\ 5517.svg');
  background-repeat: no-repeat;
  background-size: 16%;
  background-position: left 20% bottom;
}

.box-address {
  background: var(--white-color);
  padding: 17px;
  border: 1px solid var(--black);
  transition: 0.3s;
}

.box-address:hover {
  box-shadow: 7px 7px 0px var(--blue);
  cursor: pointer;
}

.box-address h5 {
  font-family: buzzbold;
}

.box-address p {
  font-size: 0.9rem;
}

/* about-page css */
.about-header {
  background-color: var(--blue);
  padding: 80px 0px;
}

.section-description {
  background: var(--yellow);
  padding: 60px 0px;
  text-align: end;
}

.section-description p {
  font-family: buzzlight;
}

.pattern-about-page img {
  position: absolute;
  width: 20rem;
  top: -2rem;
}

.about-center-section {
  padding: 80px 0px 0px 0px;
}

.about-content-yellow-bg {
  padding: 100px 0px;
  background-image: url('../images/About\ us/Path\ 45658.svg');
  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
}

.about-content-yellow-bg div {
  margin-left: 7rem;
  margin-top: 2rem;
}

.about-content-yellow-bg p {
  font-family: buzzlight;
  margin-top: 30px;
}

.descriptive-content {
  padding: 50px 0px;
  font-family: buzzlight;
}

.descriptive-content h1 {
  color: var(--black);
  font-weight: bold;
}

/* news */
/* header-hero-section-news */
.header-hero-section-news {
  height: 350px;
  background-color: var(--yellow);
}

.center-content-news {
  margin-top: -13rem;
}

.center-content-news p {
  margin-top: 3%;
  margin-bottom: 10%;
  font-family: buzzbold;
  font-size: 1.2rem;
}

.content-news {
  font-family: buzzbold;
}

.center-content-news-second h3 {
  font-family: buzzbold;
}

.center-content-news-second p {
  font-family: buzzlight;
  font-size: 0.9rem;
  text-align: justify;
}

.img-news {
  text-align: center;
}

/* .pc-process{
  display: block;
} */
.mobile-process {
  display: none;
}

.process-icons-one {
  position: absolute;
  top: 45%;
  width: 14.5%;
  display: flex;
  flex-direction: column;
}

.process-icons-one img {
  margin-top: 33%;
  width: 35%;
  margin-left: 33%;
}

.process-icons-one .process-arrow {
  position: absolute;
  margin-top: 5%;
  width: 1rem;
  margin-left: 12.4rem;
}

.process-icons-two {
  position: absolute;
  top: 5%;
  width: 14.5%;
  display: flex;
  flex-direction: column;
}

.process-icons-two img {
  margin-bottom: 30%;
  margin-left: 33%;
  width: 35%;
}

.process-icons-two .process-arrow {
  position: absolute;
  top: 8.2rem;
  width: 1rem;
  margin-left: 12.4rem;
}

.process-icons-three {
  position: absolute;
  top: 45%;
  width: 14.5%;
  display: flex;
  flex-direction: column;
}

.process-icons-three img {
  margin-top: 34%;
  width: 35%;
  margin-left: 35%;
}

.process-icons-three .process-arrow {
  position: absolute;
  margin-top: 5%;
  width: 1rem;
  margin-left: 12.4rem;
}

.process-icons-four {
  position: absolute;
  top: 4%;
  width: 14.5%;
  display: flex;
  flex-direction: column;
}

.process-icons-four img {
  margin-bottom: 33%;
  margin-left: 36%;
  width: 35%;
}

.process-icons-four .process-arrow {
  position: absolute;
  top: 8.5rem;
  width: 1rem;
  margin-left: 12.5rem;
}

.process-icons-five {
  position: absolute;
  top: 45%;
  width: 14.5%;
  display: flex;
  flex-direction: column;
}

.process-icons-five img {
  margin-top: 34%;
  width: 37%;
  margin-left: 35%;
}

.process-icons-five .process-arrow {
  position: absolute;
  margin-top: 5%;
  width: 1rem;
  margin-left: 12.6rem;
}

.process-icons-six {
  position: absolute;
  top: 5%;
  width: 14.5%;
  display: flex;
  flex-direction: column;
}

.process-icons-six img {
  margin-bottom: 33%;
  margin-left: 37%;
  width: 35%;
}

.process-icons-six .process-arrow {
  position: absolute;
  top: 8.2rem;
  width: 1rem;
  margin-left: 12.4rem;
}

/* industries tabs */
.ind-tab-details {
  display: flex;
  flex-direction: row;
  gap: 0px;
  width: 70%;
  margin: 0 auto;
  align-items: center;
  background-color: var(--blue);
  position: relative;
}

.ind-tab-details .img-tabs {
  position: absolute;
  height: 150px;
  left: -50px;
  top: 2.2rem;
}

.ind-tab-details .img-tabs-pattern {
  position: absolute;
  width: 80px;
  bottom: 15px;
  margin-left: 13%;
}

.nav-pills .nav-link {
  background-color: var(--white-color);
  border: 1px solid var(--gray);
  padding: 4px 20px !important;
  /* box-shadow: 3px 3px 0px var(--yellow); */
  border-radius: 0px !important;
  font-size: 0.9rem;
  font-family: buzzlight;
  color: var(--black);
}

.nav-pills .nav-link:hover {
  background-color: var(--white-color) !important;
  box-shadow: 3px 3px 0px var(--yellow);
  color: var(--black) !important;
  border: 1px solid var(--gray) !important;
}

.nav-pills .nav-link.active {
  box-shadow: 3px 3px 0px var(--yellow);
  background-color: var(--white-color) !important;
  color: var(--black) !important;
}

.tabs-ind {
  justify-content: center;
  font-family: 'buzzlight';
  gap: 10px;
  position: relative;
  z-index: 1000;
}

.info-box-ind-tab {
  text-align: justify;
  padding: 20px;
  padding-top: 7%;
  color: var(--white-color);
  width: 75%;
  margin-left: 25%;
}

.info-box-ind-tab p {
  font-family: buzzlight;
}

.tab-content {
  margin-top: -2%;
  position: relative;
  z-index: 00;
}



/* footer-menu */
.footer {
  font-family: buzzlight;
}

.footer-menu {
  padding-left: 0;
  display: inline-flex;
  list-style: none;
  gap: 2.2rem;
}

.footer-menu li a {
  color: var(--black);
}

.footer-menu li a:hover {
  color: var(--yellow);
}

.social-icons a {
  color: var(--black);
  font-size: 1.2rem;
  padding-left: 30px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: var(--yellow);
}

.credits {
  text-align: center;
  background-color: var(--light-gray);
  font-size: 0.8rem;
}