.hindi2 span,
body {
    font-family: buzz;
}
.arrow-img:hover,
.box-address:hover {
    cursor: pointer;
}
:root {
    --white-color: #fff;
    --black: #1e1c1b;
    --blue: #5504b0;
    --blue-light: #661db8;
    --yellow: #fbd206;
    --gray: #707070;
    --light-gray: #f2f2f2;
}
@font-face {
    font-family: buzz;
    font-display: swap;
    src: url(../fonts/VinkaDuscha.ttf);
}
@font-face {
    font-family: buzzlight;
    font-display: swap;
    src: url(../fonts/Fontspring-DEMO-visbycf-regular.otf);
}
@font-face {
    font-family: buzzbold;
    font-display: swap;
    src: url(../fonts/Fontspring-DEMO-visbycf-bold.otf);
}
@font-face {
    font-family: buzzhindi;
    font-display: swap;
    src: url(../fonts/dev.ttf);
}
html {
    scroll-behavior: smooth;
    transition: none;
}
.responsive-container {
    max-width: 1800px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.testimonial-box .arrow-on-hover:hover,
h1 {
    color: var(--blue);
}
.hindi2 {
    font-family: buzzhindi;
    font-weight: bolder;
}
.btn-buzz,
.btn-buzz-connect,
.btn-buzz-connect-blue {
    padding: 4px 20px !important;
    margin-top: 5%;
    font-family: buzzlight;
    font-size: 0.9rem;
    background-color: var(--white-color);
}
.hindi2 span {
    font-weight: 400;
}
.logo {
    width: 25%;
    aspect-ratio: auto 3/2;
}
.btn-buzz,
.btn-buzz-connect {
    border: 1px solid var(--gray);
    box-shadow: 3px 3px 0 var(--yellow);
    border-radius: 0 !important;
}
.btn-buzz-connect:hover,
.btn-buzz:hover {
    background-color: var(--white-color) !important;
    box-shadow: 3px 3px 0 var(--blue);
    color: var(--black) !important;
    border: 1px solid var(--gray) !important;
}
.btn-buzz-connect-blue {
    border: 1px solid var(--gray);
    box-shadow: 3px 3px 0 var(--blue);
    border-radius: 0 !important;
}
.btn-buzz-connect-blue:hover,
.nav-pills .nav-link:hover {
    background-color: var(--white-color) !important;
    box-shadow: 3px 3px 0 var(--yellow);
    color: var(--black) !important;
    border: 1px solid var(--gray) !important;
}
.box-address:hover,
.careers-box:hover {
    box-shadow: 7px 7px 0 var(--blue);
}
.career-author span,
.testimonial-author span,
.title-tags {
    font-family: buzzlight !important;
}
.navbar {
    background: linear-gradient(#fff 50%, transparent);
    padding: 10px 30px;
}
.featured,
.home-header {
    background-repeat: no-repeat;
}
.navbar-nav .nav-item .nav-link {
    font-size: 1rem;
    padding: 10px 30px;
    color: var(--black);
    text-transform: capitalize;
}
.navbar-nav .nav-item .nav-link:focus,
.navbar-nav .nav-item .nav-link:hover {
    color: var(--yellow) !important;
}
.navbar-nav {
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}
.service-description-four,
.service-description-one,
.service-description-two {
    font-size: 0.8rem;
    font-family: buzzlight;
}
.dropdown-menu {
    background-color: var(--blue);
    border: none;
    text-align: center;
    color: var(--white-color);
    padding: 10px 0;
    border-radius: 10%;
    position: relative;
}
.dropdown-menu .dropdown-item {
    color: var(--white-color);
    padding: 3.5% 0;
}
.dropdown-menu .dropdown-item:hover {
    color: var(--yellow);
    background-color: transparent;
}
.arrow-up {
    position: absolute;
    width: 8px;
    height: 8px;
    border-left: 5px solid var(--blue);
    border-right: 5px solid var(--blue);
    border-bottom: 5px solid var(--blue);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 45%;
    margin-top: -13px;
}
.home-header {
    height: 600px;
    background-image: url("../images/thunderstrom.svg"), url(../images/file0.webp), url("../images/layer32.webp");
    background-size: 20rem, 6rem, 6rem;
    background-position: center, left 8% top 18%, bottom right 35%;
    position: relative;
}
.project-screens {
    position: relative;
    width: 100%;
}
.project-screens img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.proj-1 {
    background-color: var(--white-color);
    width: 15em;
    height: auto;
    border-radius: 10px;
    box-shadow: #ccc 0 5px 5px;
    position: absolute;
    margin-top: 220px;
    left: 6%;
}
.proj-2,
.proj-3,
.proj-4 {
    width: 22em;
    height: auto;
    border-radius: 10px;
    box-shadow: #ccc 0 5px 5px;
    position: absolute;
    background-color: var(--white-color);
}
.proj-2 {
    margin-top: 150px;
    left: 25%;
}
.proj-3 {
    margin-top: 450px;
    left: 15%;
}
.proj-4 {
    margin-top: 0;
    right: 23%;
}
.proj-5 {
    background-color: var(--white-color);
    width: 14em;
    height: auto;
    border-radius: 10px;
    box-shadow: #ccc 0 5px 5px;
    position: absolute;
    margin-top: 190px;
    right: 0;
}
.proj-6 {
    background-color: var(--white-color);
    width: 15em;
    height: auto;
    border-radius: 10px;
    box-shadow: #ccc 0 5px 5px;
    position: absolute;
    margin-top: 340px;
    right: 28%;
}
.proj-7 {
    background-color: var(--white-color);
    width: 24em;
    height: auto;
    border-radius: 10px;
    box-shadow: #ccc 0 5px 5px;
    position: absolute;
    margin-top: 440px;
    right: 0;
}
.featured {
    background-color: var(--white-color);
    text-align: center;
    padding: 60px 0;
    background-image: url(../images/file-1.webp), url(../images/speaker.webp);
    background-size: 15rem, 20rem;
    background-position: left 10% top -10%, right bottom;
    margin-top: 8%;
}
.sliderfeature {
    width: 90%;
}
.sliderfeature img,
.sliderfeature-secondary img {
    margin: 0 20px;
    width: 120px;
    filter: sepia(100%);
    transition: 0.3s;
    opacity: 0.4;
}
.sliderfeature img:hover,
.sliderfeature-secondary img:hover {
    filter: none;
    opacity: 1;
}
.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.9rem 0;
    list-style-type: none;
}
.services,
.testimonials {
    padding: 50px 0;
    background-repeat: no-repeat;
}
.slick-dots li {
    margin: 0 0.25rem;
}
.slick-dots button {
    display: block;
    width: 0.9rem;
    height: 0.9rem;
    padding: 0;
    border: solid 1px var(--black);
    border-radius: 100%;
    background-color: transparent;
    text-indent: -9999px;
}
.slick-dots li.slick-active button {
    background-color: var(--black);
}
.services {
    background-image: url("../images/green-ribbon.webp"), url("../images/orange-ribbon.webp"), url("../images/left-hand-with-star.webp");
    background-size: 7rem, 7rem, 15rem;
    background-position: right -2% center, left -2% center, left -4% top;
}
.service-box {
    width: 100%;
    background-image: url("../images/Path-22645.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    position: relative;
}
.feature-img-one {
    width: 100%;
    margin-top: 5%;
    margin-left: 15%;
}
.go-icon-one,
.go-icon-two {
    width: 10%;
    position: absolute;
    right: 10%;
    bottom: 0;
}
.service-description-one {
    margin-top: 30%;
}
.feature-img-two {
    width: 100%;
    margin-top: 30%;
    margin-left: 10%;
}
.service-description-two {
    margin-top: 40%;
}
.feature-img-three {
    width: 100%;
    margin-top: 45%;
    margin-left: 0;
}
.go-icon-three {
    width: 10%;
    position: absolute;
    right: 10%;
    bottom: 10px;
}
.service-description-five,
.service-description-three {
    margin-top: 50%;
    font-size: 0.8rem;
    font-family: buzzlight;
}
.feature-img-four {
    width: 100%;
    margin-top: 50%;
    margin-left: 15%;
}
.go-icon-five,
.go-icon-four {
    width: 10%;
    position: absolute;
    right: 10%;
    bottom: 20px;
}
.service-description-four {
    margin-top: 45%;
}
.feature-img-five {
    width: 100%;
    margin-top: 55%;
    margin-left: 15%;
}
.service-box label {
    background-color: var(--blue);
    padding: 7px 15px;
    color: var(--white-color);
    font-family: buzzlight;
    position: absolute;
    right: -10px;
    font-size: 0.9rem;
}
.service-container {
    margin-bottom: 30px;
}
.testimonials {
    background-image: url("../images/layer33.webp"), url("../images/layer333.webp"), url("../images/file-1copy.webp");
    background-size: 6rem, 4rem, 25rem;
    background-position: top left 20%, bottom 5% right 40%, right -8% top;
}
.testimonials-content {
    position: relative;
    width: 50%;
    margin: 0 auto;
}
.testimonials-content p {
    position: relative;
    margin: 0 auto;
    left: 0;
    z-index: 100;
}
.testimonials-content .yellow-box-ui {
    background-color: var(--yellow);
    height: 15px;
    width: 130px;
    position: relative;
    top: -13px;
    left: 24rem;
    z-index: 0;
}
.testimonialsslider {
    margin-top: 20px;
}
.test-photo {
    border-radius: 50%;
    width: 80%;
    margin: 0 auto;
}
.careers-box,
.testimonial-box {
    border: 1px solid var(--gray);
    width: 90%;
    margin: 0 auto;
    box-shadow: 7px 7px 0 var(--yellow);
    transition: 0.5s;
}
.testimonial-box {
    padding: 20px 25px;
}
.testimonial-box p {
    font-family: buzzlight !important;
    font-size: 0.9rem;
    border-bottom: 1px solid var(--gray);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}
.box-address p,
.testimonial-author {
    font-size: 0.9rem;
}
.box-address h5,
.center-content-news-second h3,
.contact-left-side-content h3,
.contact-left-side-content h5,
.content-news,
.testimonial-author label {
    font-family: buzzbold;
}
.testimonial-box .arrow-on-hover {
    display: none;
    font-size: 2rem;
    position: absolute;
    background-color: var(--white-color);
    color: var(--black);
    transition: 0.5s;
}
.testimonial-box:hover .arrow-on-hover {
    display: inline;
}
.careers {
    padding: 50px 0 0;
    background-image: url("../images/Group\ 5459.svg");
    background-size: contain;
}
.img-ui-icon-camera,
.img-ui-icon-pen {
    background-size: 20%;
    background-repeat: no-repeat;
}
.careers-box {
    background-color: var(--white-color);
    padding: 30px 25px;
    position: relative;
}
.faqs,
.faqs-secondary {
    padding: 50px 0;
    font-family: buzzbold;
    background-color: var(--blue);
}
.img-ui-icon-pen {
    background-image: url(../images/Asset2.svg);
    background-position: right 10% bottom -60%;
}
.img-ui-icon-camera {
    background-image: url(../images/Asset3.svg);
    background-position: right 10% bottom -20%;
}
.careers-box .img-icon {
    width: 10%;
    position: absolute;
    top: 25px;
    left: -18px;
    display: none;
}
.careers-box:hover .img-icon {
    display: block;
}
.faqs {
    background-image: url("../images/speaker-twice.webp");
    background-repeat: no-repeat;
    background-position: right 20% bottom;
    background-size: 300px;
}
.accordion {
    --bs-accordion-bg: var(--blue-light) !important;
    --bs-accordion-border-color: none !important;
}
.accordion-button {
    font-weight: 700;
}
.accordion-button::after {
    background-image: url(../images/plus-icon.webp);
    filter: brightness(0) invert(1);
}
.accordion-button:not(.collapsed)::after {
    background-image: url(../images/minus-icon.webp);
    filter: brightness(0) invert(1);
}
.accordion-item {
    margin-bottom: 10px;
    border-radius: 7px !important;
}
.accordion-item .accordion-button {
    background-color: var(--blue-light);
    border-radius: 7px !important;
    margin-bottom: 0;
    color: var(--white-color);
}
.accordion-item .accordion-body {
    padding-top: 0;
    font-size: 14px;
    color: var(--white-color);
}
.faq-content {
    margin-top: 8rem;
}
.faqs-secondary {
    margin-top: 50px;
    position: relative;
}
.oneside-speaker-img-pc {
    position: absolute;
    top: -35%;
    right: 0;
    width: 20rem;
}
.btn-contact,
.mobile-case-study,
.mobile-process,
.oneside-speaker-img-mobile {
    display: none;
}
.header-hero-section {
    height: 40%;
    background-color: var(--blue);
}
.header-hero-section .content-of-strategy {
    margin-top: 20%;
}
.header-hero-section .content-of-strategy h1,
.header-hero-section-design .content-of-design h1 {
    font-family: buzzbold;
    color: var(--white-color);
    font-size: 3.5rem;
}
.header-hero-section .content-of-strategy p,
.header-hero-section-design .content-of-design p {
    font-family: buzzlight;
    font-size: 1.2rem;
}
.header-hero-section .strategy-img {
    width: 100%;
    position: relative;
    top: 20%;
}
.content-design p,
.content-marketing p,
.content-strategy p,
.content-studio p,
.content-tech p {
    font-weight: 400;
    font-family: buzzlight !important;
}
.list-content {
    list-style: square;
    padding-left: 20px;
    font-size: 1.2rem;
}
.list-content li {
    padding-left: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    font-family: buzzlight;
}
.list-columns {
    margin-bottom: 50px;
}
.design-section,
.marketing-section,
.strategy-section,
.studio-section,
.tech-section {
    background-image: url("../images/layer32copy.webp");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 10rem;
}
.featured-secondary-slider {
    text-align: center;
    padding: 100px 0;
    margin-top: 5%;
    background-image: url("../images/file-1copy.webp");
    background-size: 10rem;
    background-position: left 0 top 0;
    background-repeat: no-repeat;
}
.case-studies,
.ind-works,
.our-process,
.why-buzz {
    padding: 50px 0;
}
.case-studies {
    background-color: var(--blue);
    background-image: url("../images/mask-group-2.webp"), url("../images/mask-group-1.webp");
    background-repeat: no-repeat;
    background-position: center bottom, right 20% top;
    background-size: 8rem, 8rem;
}
.case-studies .casestudies {
    margin-left: 8%;
}
.casestudies-container {
    position: relative;
    z-index: 0;
}
.side-effects {
    background: linear-gradient(90deg, var(--blue), rgba(255, 255, 255, 0));
    width: 70px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 8%;
    z-index: 1000;
}
.why-buzz {
    background-image: url("../images/Group\ 5459.svg");
    background-size: 100%;
}
.why-content {
    background: linear-gradient(90deg, #fff 50%, rgba(255, 255, 255, 0));
    padding: 25px;
}
.why-content label {
    font-size: 1.5rem;
    font-family: buzzbold;
}
.contact-right-side-content h4,
.footer,
.ind-content,
.info-box-ind-tab p,
.section-description p,
.why-content p {
    font-family: buzzlight;
}
.why-content p {
    margin-bottom: 0;
}
.header-hero-section-marketing,
.header-hero-section-tech {
    background-color: var(--yellow);
}
.header-hero-section-blog,
.header-hero-section-design,
.header-hero-section-studio,
.header-hero-section-work {
    background-color: var(--blue);
}
.header-hero-section-marketing .content-of-marketing,
.header-hero-section-tech .content-of-tech {
    margin-top: 10%;
}
.header-hero-section-marketing .content-of-marketing h1,
.header-hero-section-tech .content-of-tech h1 {
    font-family: buzzbold;
    color: var(--blue);
    font-size: 3.5rem;
}
.header-hero-section-marketing .content-of-marketing p,
.header-hero-section-tech .content-of-tech p {
    font-family: buzzlight;
    font-size: 1.2rem;
    color: var(--black);
    font-weight: 700;
}
.header-hero-section-marketing .marketing-img {
    width: 80%;
    position: relative;
    top: 15%;
}
.header-hero-section-design {
    height: 30%;
}
.header-hero-section-design .content-of-design,
.header-hero-section-studio .content-of-studio {
    margin-top: 15%;
}
.header-hero-section-design .design-img {
    position: relative;
    top: 25%;
}
.header-hero-section-tech .tech-img {
    width: 80%;
    position: relative;
    top: 20%;
}
.header-hero-section-studio .content-of-studio h1 {
    font-family: buzzbold;
    font-size: 3.5rem;
    color: var(--white-color);
}
.header-hero-section-studio .content-of-studio p {
    font-family: buzzlight;
    font-size: 1.2rem;
    font-weight: 700;
}
.contact-right-side-content .radio-select span,
.credits,
.prices-min-max {
    font-size: 0.8rem;
}
.header-hero-section-studio .studio-img {
    width: 80%;
    position: relative;
    top: 25%;
}
.header-hero-section-work {
    background-image: url("../images/OurWork/Group\ 5522.svg");
    background-position: center left 30%;
    background-size: 60%;
    background-repeat: no-repeat;
}
.img-container {
    position: relative;
    margin-top: -5%;
}
.header-hero-section-work .img-one {
    width: 10%;
    position: absolute;
    bottom: 0;
    left: 10%;
}
.header-hero-section-work .img-two {
    width: 60%;
    position: relative;
    bottom: 0;
}
.content-work {
    color: var(--white-color);
    font-family: buzzbold;
    text-align: center;
    padding-top: 6%;
}
.center-content {
    padding-bottom: 100px;
    background-image: url("../images/file-1copy.webp"), url(../images/file0.webp);
    background-repeat: no-repeat;
    background-position: left -5% top 18%, bottom left 35%;
    background-size: 10%, 7%;
}
.content-pattern-img-steps {
    position: absolute;
    margin-top: -2%;
    margin-left: 8%;
    z-index: 1000;
}
.content-pattern-img-ribbon img,
.content-pattern-img-steps img {
    width: 50%;
}
.content-pattern-img-ribbon {
    position: absolute;
    margin-top: 1%;
    right: 0;
    z-index: 1000;
}
.header-hero-section-blog {
    background-image: url("../images/asset6.webp");
    background-position: bottom right;
    background-size: 50%;
    background-repeat: no-repeat;
}
.content-blog {
    color: var(--white-color);
    font-family: buzzbold;
}
.center-content-blog {
    background-image: url("../images/layer32.webp"), url(../images/file0.webp);
    background-repeat: no-repeat;
    background-position: right top 18%, bottom 35% left;
    background-size: 5rem, 5rem;
}
.center-content-blog p {
    margin-top: 3%;
    margin-bottom: 10%;
    font-family: buzzbold;
}
.img-blog {
    text-align: end;
}
.contact-header {
    background-color: var(--yellow);
    padding: 80px 0;
}
.contact-header h1 {
    font-size: 3rem;
    font-family: buzzbold;
}
.pattern-contact-page {
    display: flex;
    flex-direction: column;
}
.contact-left-side-content {
    padding: 70px 0;
    font-family: buzzlight;
}
.contact-left-side-content .side-pattern-border {
    background-color: var(--black);
    width: 1px;
    position: relative;
}
.contact-left-side-content .side-pattern-border .dot-sign-one {
    position: absolute;
    top: -5px;
    left: -8px;
}
.contact-left-side-content .side-pattern-border .dot-sign-two {
    position: absolute;
    top: 9.2rem;
    left: -8px;
}
.contact-left-side-content .side-pattern-border .dot-sign-three {
    position: absolute;
    top: 18.7rem;
    left: -8px;
}
.contact-right-side-content {
    background-color: var(--blue);
    padding: 50px;
    color: var(--white-color);
    font-family: buzzlight;
}

.section-address{
    background: var(--yellow);
}

.highlight {
    background: var(--yellow);
    color: var(--black);
    border: none;
}
.contact-right-side-content .form-control {
    background-color: transparent;
    border-radius: 0;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    font-size: 0.8rem;
    color: var(--white-color);
    font-family: buzzlight;
}
.center-content-news a,
.footer-menu li a,
.nav-pills .nav-link,
.social-icons a {
    color: var(--black);
}
.contact-right-side-content .form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-family: buzzlight;
}
.contact-right-side-content .dd {
    appearance: none;
    background-color: var(--blue);
}
.contact-right-side-content .radioselect {
    border: 1px solid var(--white-color);
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;
}
.arrow-img:hover,
.center-content-news a:hover .arrow-img {
    padding-left: 20px;
}
[type="radio"]{
    display:none;
}
#radio-example{
    gap: 20px;
}
.radio-date-container .slick-initialized .slick-slide{
    margin-right: 10px;
}

/* [type="radio"]:checked .radioselect {
    background: var(--yellow);
}
[type="radio"]:not(:checked) .radioselect {
    background: var(--blue);
} */

.radioselect-yellow {
    background: var(--yellow);
    color: var(--black) !important;
}


.prices-min-max {
    display: flex;
    justify-content: space-between;
    color: #bbb;
}
.section-address {
    padding: 50px 0;
    font-family: buzzlight;
    background-image: url("../images/Contact/Group\ 5517.svg");
    background-repeat: no-repeat;
    background-size: 16%;
    background-position: left 20% bottom;
}
.box-address {
    background: var(--white-color);
    padding: 17px;
    border: 1px solid var(--black);
    transition: 0.3s;
}
.about-header {
    background-color: var(--blue);
    padding: 80px 0;
}
.section-description {
    background: var(--yellow);
    padding: 60px 0;
    text-align: end;
}
.pattern-about-page img {
    position: absolute;
    width: 20rem;
    top: -2rem;
}
.about-center-section {
    padding: 80px 0 0;
}
.about-content-yellow-bg {
    padding: 100px 0;
    background-image: url("../images/Aboutus/Path\ 45658.svg");
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
}
.about-content-yellow-bg div {
    margin-left: 10rem;
    margin-top: 2rem;
}
.about-content-yellow-bg p {
    font-family: buzzlight;
    margin-top: 30px;
}
.descriptive-content {
    padding: 50px 0;
    font-family: buzzlight;
}
.descriptive-content h1 {
    color: var(--black);
    font-weight: 700;
}
.header-hero-section-news {
    height: 350px;
    background-color: var(--yellow);
}
.center-content-news {
    margin-top: -13rem;
}
.center-content-news p {
    margin-top: 3%;
    margin-bottom: 10%;
    font-family: buzzbold;
    font-size: 1.2rem;
}
.arrow-img,
.center-content-news a .arrow-img {
    transition-property: padding-left;
    transition-duration: 0.3s;
}
.center-content-news-second p {
    font-family: buzzlight;
    font-size: 0.9rem;
    text-align: justify;
}
.img-news {
    text-align: center;
}
.process-icons-five,
.process-icons-one,
.process-icons-three {
    position: absolute;
    top: 45%;
    width: 14.5%;
    display: flex;
    flex-direction: column;
}
.process-icons-one img {
    margin-top: 33%;
    width: 35%;
    margin-left: 33%;
}
.process-icons-one .process-arrow,
.process-icons-three .process-arrow {
    position: absolute;
    margin-top: 5%;
    width: 1rem;
    margin-left: 12.4rem;
}
.process-icons-six,
.process-icons-two {
    position: absolute;
    top: 5%;
    width: 14.5%;
    display: flex;
    flex-direction: column;
}
.process-icons-two img {
    margin-bottom: 30%;
    margin-left: 33%;
    width: 35%;
}
.process-icons-six .process-arrow,
.process-icons-two .process-arrow {
    position: absolute;
    top: 8.2rem;
    width: 1rem;
    margin-left: 12.4rem;
}
.process-icons-three img {
    margin-top: 34%;
    width: 35%;
    margin-left: 35%;
}
.process-icons-four {
    position: absolute;
    top: 4%;
    width: 14.5%;
    display: flex;
    flex-direction: column;
}
.ind-tab-details,
.reveal,
.tab-content,
.tabs-ind {
    position: relative;
}
.process-icons-four img {
    margin-bottom: 33%;
    margin-left: 36%;
    width: 35%;
}
.process-icons-four .process-arrow {
    position: absolute;
    top: 8.5rem;
    width: 1rem;
    margin-left: 12.5rem;
}
.process-icons-five img {
    margin-top: 34%;
    width: 37%;
    margin-left: 35%;
}
.process-icons-five .process-arrow {
    position: absolute;
    margin-top: 5%;
    width: 1rem;
    margin-left: 12.6rem;
}
.process-icons-six img {
    margin-bottom: 33%;
    margin-left: 37%;
    width: 35%;
}
.ind-tab-details {
    display: flex;
    flex-direction: row;
    gap: 0;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    background-color: var(--blue);
}
.ind-tab-details .img-tabs {
    position: absolute;
    height: 150px;
    left: -50px;
    top: 2.2rem;
}
.ind-tab-details .img-tabs-pattern {
    position: absolute;
    width: 80px;
    bottom: 15px;
    margin-left: 13%;
}
.nav-pills .nav-link {
    background-color: var(--white-color);
    border: 1px solid var(--gray);
    padding: 4px 20px !important;
    border-radius: 0 !important;
    font-size: 0.9rem;
    font-family: buzzlight;
}
.nav-pills .nav-link.active {
    box-shadow: 3px 3px 0 var(--yellow);
    background-color: var(--white-color) !important;
    color: var(--black) !important;
}
.tabs-ind {
    justify-content: center;
    font-family: buzzlight;
    gap: 10px;
    z-index: 1000;
}
.info-box-ind-tab {
    text-align: justify;
    padding: 7% 20px 20px;
    color: var(--white-color);
    width: 75%;
    margin-left: 25%;
}
.tab-content {
    margin-top: -2%;
    z-index: 0;
}

/* career css starts */
.header-hero-section-career {
    height: 450px;
    background-color: var(--yellow);
}
.center-content-career{
    position: relative;
    margin-top: -13rem;
}
.center-content-career-second{
    background-color: var(--blue);
    padding:100px 0px;
}
.career-middle-container{
    font-family: buzzlight;
}
.career-middle-container .inner-box{
    border-bottom: 1px dashed #fff;
    color: var(--white-color);
}
.career-middle-container .inner-box label{
    color: var(--yellow);
}

.openings h1{
    font-family: buzzlight;
    color: var(--black);
}

.openings .accordion {
    --bs-accordion-bg: var(--light-gray) !important;
    --bs-accordion-border-color: none !important;
    font-family: buzzlight;
}
.openings .accordion-item .accordion-button {
    background-color: var(--light-gray);
    border-radius: 7px !important;
    margin-bottom: 0;
    color: var(--black);
}

.openings .accordion-button::after {
    background-image: url(../images/plus-icon.webp);
    filter: brightness(0) invert(0);
}
.openings .accordion-button:not(.collapsed)::after {
    background-image: url(../images/minus-icon.webp);
    filter: brightness(0) invert(0);
}

.openings .accordion-item .accordion-body {
    padding-top: 0;
    font-size: 14px;
    color: var(--black);
}

.footer-menu {
    padding-left: 0;
    display: inline-flex;
    list-style: none;
    gap: 2.2rem;
}
.footer-menu li a:hover,
.social-icons a:hover {
    color: var(--yellow);
}
.social-icons a {
    font-size: 1.2rem;
    padding-left: 30px;
    transition: 0.3s;
}
.credits {
    text-align: center;
    background-color: var(--light-gray);
}

@keyframes bounce {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-20px);
    }
}
.box-animate {
    animation: 1s cubic-bezier(0.2, 0.65, 0.6, 1) infinite alternate bounce;
}
@keyframes bounce-y {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-20px);
    }
}
.box-animate-y {
    animation: 1s cubic-bezier(0.2, 0.65, 0.6, 1) infinite alternate bounce-y;
}
.reveal {
    transform: translateY(150px);
    opacity: 0;
    transition: 1s;
}
.reveal.active {
    transform: translateY(0);
    opacity: 1;
}
