.range-slider {
    *zoom: 1;
    margin: 15px 0;
    padding-top: 2.5em;
    position: relative;
    text-align: center;
  }
  .range-slider:before, .range-slider:after {
    content: " ";
    display: table;
  }
  .range-slider:after {
    clear: both;
  }
  @media (min-width: 640px) {
    .range-slider {
      padding-top: 3.5em;
    }
  }
  @media (min-width: 1024px) {
    .range-slider {
      padding-top: 3.5em;
    }
  }
  .range-slider .track {
    bottom: 15px;
    height: 2px;
    left: 0;
    margin-bottom: -3px;
    position: absolute;
    width: 0;
    z-index: 50;
  }
  @media (min-width: 640px) {
    .range-slider .track {
      bottom: 15px;
    }
  }
  @media (min-width: 1024px) {
    .range-slider .track {
      bottom: 15px;
    }
  }
  .range-slider .track--full {
    background: #fff;
    width: 100%;
  }
  .range-slider .track--included {
    background: #fff;
    border-radius: 3px;
  }
  .range-slider .slider-thumb {
    background: #fbd206;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    display: block\9;
    height: 20px;
    left: 0;
    position: absolute;
    width: 20px;
    z-index: 101;
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .range-slider .slider-thumb {
      display: block;
    }
  }
  @media (min-width: 640px) {
    .range-slider .slider-thumb {
      height: 20px;
      width: 20px;
    }
  }
  @media (min-width: 1024px) {
    .range-slider .slider-thumb {
      height: 20px;
      width: 20px;
    }
  }
  .range-slider [type=range] {
    -webkit-appearance: none;
    background: none;
    height: 20px;
    margin: 0;
    outline: none;
    padding: 0;
    pointer-events: none;
    position: relative;
    width: 100%;
    z-index: 75;
  }
  @media (min-width: 640px) {
    .range-slider [type=range] {
      height: 20px;
    }
  }
  @media (min-width: 1024px) {
    .range-slider [type=range] {
      height:none;
    }
  }
  .range-slider [type=range]:focus {
    outline: none;
  }
  .range-slider [type=range]::-moz-focus-outer {
    border: 0;
  }
  .range-slider [type=range]:first-of-type {
    float: left;
    margin-bottom: -30px;
  }
  @media (min-width: 640px) {
    .range-slider [type=range]:first-of-type {
      margin-bottom: -30px;
    }
  }
  @media (min-width: 1024px) {
    .range-slider [type=range]:first-of-type {
      margin-bottom: -30px;
    }
  }
  .range-slider [type=range]:last-of-type {
    float: right;
    margin-bottom: 0;
  }
  .range-slider [type=range]::-webkit-slider-runnable-track {
    background: none;
    border: 0;
    height: 6px;
    z-index: -1;
  }
  .range-slider [type=range]::-ms-fill-lower {
    background: none;
    border: 0;
  }
  .range-slider [type=range]::-ms-fill-upper {
    background: none;
    border: 0;
  }
  .range-slider [type=range]::-ms-track {
    background: transparent;
    border: 0;
    border-color: transparent;
    color: transparent;
    height: 6px;
    z-index: -1;
  }
  .range-slider [type=range]:focus::-ms-fill-lower {
    background: none;
    border: 0;
  }
  .range-slider [type=range]:focus::-ms-fill-upper {
    background: none;
    border: 0;
  }
  .range-slider [type=range]::-moz-range-track {
    -moz-appearance: none;
    background: none;
    border: 0;
    height: 6px;
    z-index: -1;
  }
  .range-slider [type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #fbd206;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    margin-top: -12px;
    outline: 0;
    pointer-events: all;
    position: relative;
    width: 20px;
    z-index: 100;
  }
  @media (min-width: 640px) {
    .range-slider [type=range]::-webkit-slider-thumb {
      height: 20px;
      margin-top: -12px;
      width: 20px;
    }
  }
  @media (min-width: 1024px) {
    .range-slider [type=range]::-webkit-slider-thumb {
      height: 20px;
      margin-top: -12px;
      width: 20px;
    }
  }
  .range-slider [type=range]::-ms-thumb {
    background: #fbd206;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    margin-top: 0;
    pointer-events: all;
    position: relative;
    width: 20px;
    z-index: 100;
  }
  @media (min-width: 640px) {
    .range-slider [type=range]::-ms-thumb {
      height: 20px;
      width: 20px;
    }
  }
  @media (min-width: 1024px) {
    .range-slider [type=range]::-ms-thumb {
      height: 20px;
      width: 20px;
    }
  }
  .range-slider [type=range]::-moz-range-thumb {
    -moz-appearance: none;
    background: #fbd206;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    margin-top: -12px;
    pointer-events: all;
    position: relative;
    width: 20px;
    z-index: 100;
  }
  @media (min-width: 640px) {
    .range-slider [type=range]::-moz-range-thumb {
      height: 20px;
      margin-top: -12px;
      width: 20px;
    }
  }
  @media (min-width: 1024px) {
    .range-slider [type=range]::-moz-range-thumb {
      height: 20px;
      margin-top: -12px;
      width: 20px;
    }
  }
  .range-slider .output,
  .range-slider output {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #aaa;
    display: inline-block;
    height: 2.5em;
    left: 50%;
    line-height: 2.5em;
    padding: 0 0;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translate(-50%, 0);
  }
  