:root {
    --white-color: #fff;
    --black: #1e1c1b;
    --blue: #5504b0;
    --blue-light: #661db8;
    --yellow: #fbd206;
    --gray: #707070;
    --light-gray: #f2f2f2;
    --light-skin: #fff8ed;
    --red:#c20000;
}

@font-face {
    font-family: buzz;
    font-display: swap;
    src: url(../css/fonts/VinkaDuscha.ttf);
}
@font-face {
    font-family: buzzlight;
    font-display: swap;
    src: url(../css/fonts/VisbyCF-Regular.otf);
}
@font-face {
    font-family: buzzbold;
    font-display: swap;
    src: url(../css/fonts/VisbyCF-Bold.otf);
}

h1,h2,h3,h4,h5,h6{
    color: var(--black);
}

.sq-title{
    width: 25%;
    padding: 4px 20px !important;
    font-family: buzzbold;
    font-size:1rem;
    background-color: var(--white-color);
    border: 1px solid var(--black);
    box-shadow: 5px 5px 1px var(--yellow);
}

body {
    background-color: var(--light-skin);
}

.aspect-r-11 {
    aspect-ratio: 1/1;
}

.container-back-top-section {
    background-image: url('../images/profile/jio/pattern-jio\ copy.png');
    background-size: 100%;
}

.img-header-container {
    aspect-ratio: 16/9;
}

.section-text {
    background-image: url(../images/profile/jio/horn\ copy.png),url(../images/profile/lumar/side-ribbon.png);
    background-repeat: no-repeat;
    background-size: 15rem,10rem;
    background-position: left , top right 20px;
}

.backround-square{
    background-image: url(../images/profile/lumar/squares.png);
}

.standee-banner{
    position:absolute;
    width:45%;
    left: 0;
    top:12%;
}

.heading-standy{
    font-family: buzzbold;
    position:absolute;
    font-size:3rem;
    right: 20%;
    top: 50%;
    color: var(--white-color);
}

.yellow-back{
    background-color: var(--yellow);
    background-image: url(../images/profile/lumar/squares.png);
    margin-top: 8%;
    padding-top:50px;
    padding-bottom:150px;
    /* position: relative; */
}

.inner-post-container{
    position:relative;
    margin-top:-12%;
}

.main-ent-container {
    padding-bottom: 5rem;
    background-color:var(--red);
}

.top-hash-tag-container {
    position: relative;
}

.large-hash {
    position: absolute;
}

.small-hash{
    position: absolute;
    /* background-color: #5504b0; */
    right: -10%;
    top: 40%;
}

.shadow-solid{
    box-shadow: 6px 10px 1px #333333;
    border: 1px solid #333333;
}

.heading-bar{
    text-align: center;
    border: 2pt solid #1e1c1b;
    padding: 15px 0px;
    font-family: buzzbold;
    background-color: var(--yellow);
    box-shadow: 8px 8px 1px #ffffff;
    margin-bottom:30px;
}
.heading-bar label{
    font-size: 1.3rem;
    font-family: buzzlight;
}

.screen-post-main img {
    position: absolute;
    top: -20%;
    max-width: 50%;
}

/* img-eyes-left */
.img-eyes-left {
    position: relative;
    text-align: end;
    margin-right: 20%;
}

.img-eyes-up{
    position: relative;
    top: 20%;
}

.img-eyes-right-bottom{
    margin-left: 15%;
    margin-top: 15%;
}
.img-eyes-left-bottom{
    margin-top: 25%;
    margin-left: 5%;
}

.name-text-hash{
    position: relative;
    margin-left: 60%;
    margin-top: 70%;
    z-index: 10000;
}

.footer-line{
    background-image: url(../images/profile/poojaent/bottom-line.png);
}